/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
/* Grid breakpoints */
/* .input, .input::-webkit-input-placeholder{
  display: none;
  font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: $color-gray4;
} */
:global(.vtex-dropdown__button) {
  width: 93px; }
