/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
/* Grid breakpoints */
.flexRow--top-bar {
  background: #c4c4c4;
  height: 28px; }

.flexRow--deals {
  background-color: #C4C4C4;
  padding: 17px 0px; }

.flexRow--deals .stretchChildrenWidth {
  align-items: center; }

.flexRowContent--m3-brands {
  justify-content: center; }

.flexRow--m3-brands {
  margin-top: 80px; }

.flexRow--fc-form {
  max-width: 1126px;
  margin: 0 auto;
  margin-bottom: 135px; }

.flexCol--fc-form-items :global(.vtex-input__label)::after,
.flexCol--fc-form-items :global(.vtex-dropdown__label)::after {
  content: "*";
  display: inline-block;
  color: #a70505; }

.flexCol--fc-form-items :global(.vtex-input__label),
.flexCol--fc-form-items :global(.vtex-dropdown__label) {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #666666; }

.flexCol--fc-form-items :global(.vtex-button) {
  float: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 56px; }

.flexCol--fc-form-items :global(.vtex-input-prefix__group) {
  margin-bottom: 13px; }

.flexCol--fc-form-items {
  max-width: 694px;
  padding: 29px 15px;
  box-shadow: 0px 1px 2px rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px; }

@media only screen and (max-width: 1025px) {
  .flexRowContent--m3-brands {
    flex-direction: column; } }

.flexRowContent--drawer-top-content {
  padding: 0 8px; }

.flexRow--drawer-top-content {
  margin-left: -1rem;
  margin-right: -1rem; }

.flexCol--mobile-links-container {
  border-bottom: 1px solid #e5e5e5; }

/* M3 PRODUCT BREADCRUMB  */
.flexRow--m3-product-breadcrumb {
  margin-top: 15px; }

.flexRowContent--m3-product-breadcrumb {
  max-width: 1045px;
  margin: 0 auto; }

/* M3 FOOTER  */
/* ---------------------------------------------------------------------------------------------------------------- */
.flexRow--footer-links {
  background-color: #F0F0F0;
  padding: 24px 0 24px 0; }

.flexRowContent--footer-links {
  max-width: 830px;
  width: 830px;
  margin: 0 auto;
  justify-content: space-between; }

.flexRowContent--footer-bottom {
  width: calc(1280px - 64px);
  /* max-width: calc(1280px - 64px); */
  max-width: 100%;
  margin: 0 auto;
  align-items: center; }

.flexRowContent--footer-m3-powered-by {
  display: flex;
  justify-content: flex-end; }

.flexRowContent--footer-m3-powered-by .stretchChildrenWidth {
  width: fit-content !important;
  margin: 0 4px;
  align-items: center; }

.flexRowContent--footer-payment-badges {
  display: flex;
  align-items: center; }

.flexRowContent--footer-payment-badges .stretchChildrenWidth {
  width: fit-content !important;
  margin: 0 7px; }

.flexRow--footer-vtex-pci-badge {
  position: relative; }

.flexRow--footer-vtex-pci-badge::after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 1px;
  background: #c4c4c4;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%); }

.flexRow--footer-links-mobile {
  background-color: #F0F0F0;
  padding: 32px 0px; }

.flexRow--social-networks {
  background-color: #F0F0F0;
  padding-bottom: 31px; }

@media only screen and (max-width: 1025px) {
  .flexRow--footer-payment-badges {
    background: white;
    margin: 0;
    padding: 20px 0; }
  .flexRowContent--footer-payment-badges {
    justify-content: center; }
  .flexRow--footer-m3-powered-by {
    background: white; }
  .flexRowContent--footer-m3-powered-by {
    justify-content: center; }
  .flexRow--footer-links-mobile {
    padding: 20px 27px 0; }
  .flexRow--social-networks {
    padding: 24px 27px; } }

.flexRow--drawer-top-content {
  margin-left: -1rem;
  margin-right: -1rem; }

.flexRowContent--drawer-top-content {
  padding: 0 8px; }

.flexCol--mobile-links-container {
  border-bottom: 1px solid #e5e5e5; }

.flexRowContent--m3-shelf {
  max-width: 1088px;
  margin: 0 auto; }

/* INSTITUCIONAL  */
.flexRowContent--institucional-breadcrumb-wrapper {
  display: flex;
  align-items: center; }

.flexRow--institucional-breadcrumb-wrapper {
  padding: 0 36px; }

.flexRowContent--institucional-titulo-wrapper {
  margin-top: 5rem; }

.flexRowContent--institucional-wrapper {
  margin-top: 2rem;
  margin-bottom: 6rem; }

.flexColChild--navegacao-institucional {
  height: 44px !important; }

.flexColChild--institucional-main-row {
  max-width: 715px; }

@media screen and (max-width: 1026px) {
  .flexRow--institucional-breadcrumb-wrapper {
    padding: 0 8px; }
  .flexRowContent--institucional-wrapper {
    margin-top: 0;
    margin-bottom: 1rem; }
  .flexRowContent--institucional-titulo-wrapper {
    margin-top: 0; }
  .flexCol--navegacao-institucional {
    margin-bottom: 49px;
    padding-right: 4px;
    padding-left: 4px; } }

.flexRow--institucional-main-row {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 180px; }

.flexRow--productSpecificationGroup {
  margin-top: 40px; }

.flexRowContent--productSpecificationGroup {
  position: relative; }

.flexRowContent--productSpecification,
.flexRowContent--productSpecificationGroupName {
  padding: 10px 7px;
  border: 1px solid rgba(34, 36, 38, 0.15); }

.flexCol--pedidos-antigos {
  position: relative; }

.flexRow--m3-shelf-badges {
  position: absolute;
  top: 16px;
  left: 18px; }

@media (max-width: 768px) {
  .flexRow--m3-shelf-badges {
    left: 5%;
    top: 5%; } }

@media (max-width: 576px) {
  .flexRow--m3-shelf-badges {
    left: 8px;
    top: 25px; } }

/**** Minha conta */
.flexRowContent--account-title {
  margin-top: 40px;
  border-bottom: 1px solid #E5E5E5;
  max-width: 90%;
  transform: translateX(62%);
  left: -50%;
  position: relative; }

/* M3 PRODUCT DETAILS  */
.flexRowContent--m3-product-details {
  max-width: 1045px;
  margin: 0 auto 20px auto; }

.flexRow--m3-product-page-shelf {
  margin-bottom: 102px; }

.flexRowContent--m3-buy-btn {
  margin-top: 0; }

.flexRowContent--m3-buy-btn
:global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  height: 42px; }

.flexRowContent--m3-buy-btn :global(.vtex-button) {
  outline: none;
  border: none;
  border-radius: 5px;
  background: #292929;
  transition: all 0.4s; }

.flexRowContent--m3-buy-btn :global(.vtex-button):hover {
  background: #000000; }

.flexRowContent--m3-buy-btn :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff; }

.flexRowContent--m3-buy-btn :global(.vtex-button):disabled {
  background: rgba(229, 229, 229, 0.870786);
  border-radius: 5px;
  line-height: 42px;
  margin-bottom: 32px;
  letter-spacing: 0.05em; }

.flexRowContent--m3-buy-btn :global(.vtex-button):disabled :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: #C4C4C4;
  letter-spacing: 0.05em; }

.flexRow--m3-product-page-shelf {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 104px; }
